click==6.7
click-plugins==1.0.3
cligj==0.4.0
cycler==0.10.0
descartes==1.1.0
Fiona==1.7.9
geopandas==0.3.0
llvmlite==0.20.0
munch==2.2.0
numba==0.35.0
pandas==0.20.3
pyparsing==2.2.0
pyproj==1.9.5.1
python-dateutil==2.6.1
pytz==2017.2
scipy==0.19.1
Shapely==1.6.1
joblib==0.11
statsmodels==0.8.0
Flask==0.12.2
Flask-WTF==0.14.2
WTForms==2.1
psutil==5.2.2
